:root {
  // Globals
  --base-font: "Merriweather", sans-serif;
  --secondary-font: "Golos Text", sans-serif;
  --transition: 0.3s ease-in-out;
  --duration: 30s;

  //colors
  --firstColor: #313131;
  --secondaryColor: #e9ded4;
  --thirdColor: #fff;
  --fourhcolor: #1f1f1f;
  --fifthColor: #fbce51;
  --sixthColor: #f54932;
}
